/* core structure style */

/***********************************
*           HTML Tags              *
************************************/
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    font-family: "Courier New";
}

a {
    color: inherit;
}

/***********************************
*           Wrappers               *
************************************/
#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}

#loading {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    /* opacity: 0.9; */
    animation: blur 0.5s forwards;
    animation-delay: 3s;
}
#loading-label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6em;
    font-weight: bold;
    transform: translate(-50%, -50%);
}
#loading-text {
    text-align: center;
    color: #89bdd3;
    display: inline-block;
}
#loading-cursor {
    display: inline-block;
    height: 80px;
    width: 10px;
    background-color: #89bdd3;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}
@keyframes blur {
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}

#context-menu {
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    background: #fff;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
.contex-menu-element, .contex-menu-subelement {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    line-height: 1;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
}
.contex-menu-element:last-child, .contex-menu-subelement:last-child {
    border-bottom:none;
}
#context-menu .fas{
    padding-right: 10px;
    line-height: 1;
    vertical-align: middle;
}
#context-menu .fa-chevron-right{
    padding-right: 0px;
    padding-left: 5px;
}
#context-menu .hover-element * {
    pointer-events: none;
}

#context-programs:hover + #contex-submenu-programs {
    display: block;
}
#contex-submenu-programs:hover {
    display: block;
}
#contex-submenu-programs {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin-left: 20px;
}

/***********************************
*             Top Bar              *
************************************/
#top-bar {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #89bdd3;
  color: #fff;
}
#top-bar .hover-element *, #top-bar .highlighted *, #top-bar .hover-middle-element *{
    pointer-events: none;
    cursor: pointer;
}
.top-bar-component {
    box-sizing: border-box;
}

#left-top {
    width: 10%;
    display: inline-block;
    float: left;
    font-size: 1.1em;
}
.left-top-component {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    height: 100%;
}
.left-top-component i {
    padding: 12px;
}
#icon-apps:hover + #apps-dropdown {
    display: block;
}
#apps-dropdown:hover {
    display: block;
}
#apps-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #fff;
    color: #000;
    border: 1px solid #cccccc;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 500;
    min-width: 150px;
    max-width: 170px;
}
#apps-dropdown .fas {
    padding: 8px;
}
#apps-dropdown .left-top-component{
    border-bottom: 1px solid #cccccc;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 0.9em;
}
#apps-dropdown .left-top-component:last-child{
    border-bottom: none;
}
#icon-calculator {
    width: 100%;
}
.apps-label {
    padding-right: 15px;
    font-weight: bold;
}
#middle-top {
    width: 65%;
    display: inline-block;
    float: left;
    padding: 0px 15px;
}

.top-bar-element {
    padding: 9px 0px;
    margin-right: 5px;
    width: 50px;
    border-bottom: 3px solid #fff;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    cursor: pointer;
}

#right-top {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: right;
}
.right-top-component {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1em;
    float: left;
}
.right-top-component i {
    padding: 12px;
}
#time-date {
    width: 85%;
    cursor: default;
    padding: 11px;
    font-weight: bold;
    white-space: nowrap;
}
#icon-expand {
    width: 15%;
}

/***********************************
*            Workspace             *
************************************/
#workspace {
  flex:1;
  width: 100%;
  background-color: #e3e3e3;
  background-image: url("../assets/img/helixos-background.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.mobile-view #workspace {
    background-image: url("../assets/img/helixos-background-mobile.png");
}

/***********************************
*          Window Frame            *
************************************/
.modal-wrapper {
  position: fixed;
  z-index: 100;
  text-align: left;
  top: 10%;
  left: 10%;
}
.modal-wrapper.fullscreenWindow {
    top: 40px !important;
    left: 0 !important;
}
.fullscreenWindow .modal-container {
    width: 100% !important;
    max-width: none !important;
    position: fixed;
}
.modal-container {
  min-width: 350px;
  min-height: 130px;
  width: 500px;
  height: 450px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  color: #000;
}
.modal-container.resizing{
    transition: none;
}
.resizers{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.resizers .resizer{
    width: 10px;
    height: 10px;
    color: #ccc;
    position: absolute;
}
.modal-container .resizers .resizer.bottom-right {
  right: -5px;
  bottom: 0px;
  cursor: nwse-resize;
  transform: rotate(45deg);
}

.modal-header{
    height: 40px;
    background-color: #89bdd3;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    box-sizing: border-box;
    color: #fff;
}
.modal-header h3, .modal-header .modal-icon {
  margin: 0;
  padding: 10px;
  display: inline-block;
}
.modal-header h3 {
  padding-left: 5px;
}
.modal-body {
  padding: 15px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.modal-header div:first-child {
    display: inline-block;
}
.window-buttons {
    display: inline-block;
    float: right;
    padding: 10px 5px;

}
.window-buttons .fas {
    opacity: 0.6;
}
.window-buttons .fas:hover {
    opacity: 1;
}
.window-buttons div {
    display: inline-block;
}
.fas {
    cursor: pointer;
}
.fas.modal-icon {
    cursor: default;
}
.window-expand-shrink div:hover{
    color:#00FF5D;
}
.window-close div:hover{
    color:#ff3f00;
}
.window-minimize div:hover{
    color:#FF7F00;
}
.colour-palette-label {
    display: inline-block;
    width: 49%;
    font-weight: bold;
}

.colour-palette-picker {
    display: inline-block;
    width: 35%;
}
.colour-palette-section {
    margin-bottom: 10px;
}
.modal-body h3 {
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}
.modal-body h3 i {
    cursor: default;
}
.settings-section > div, .modal-body p {
    margin-left: 20px;
}
.settings-section:not(:first-child) {
    margin-top: 50px;
}
#selected-background {
    width: 100px;
    height: 70px;
    display: inline-block;
    background-image: url("../assets/img/helixos-background.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 4px;
    border: 1px solid #cccccc;
    vertical-align: middle;
}
.colour-palette-picker input, .colour-search-picker input {
    background: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #ccc;
    padding: 3px;
}
.colour-palette-picker input:hover,  .colour-search-picker input:hover{
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .33);
}
.colour-search-label {
    width: 55%;
    display: inline-block;
}
.colour-search-picker {
    width: 35%;
    display: inline-block;
}
.background-change {
    margin-top: 15px;
    font-size: 16px;
}
#change-picture {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    width: 210px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 4px 5px ;
}

#submit-picture {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#error-picture {
    display: none;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    width: max-content;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    color: #fff;
    font-weight: bold;
}

/***********************************
*             Search               *
************************************/
#search-modal .modal-container{
    height: 130px !important;
    width: 350px;
}
#search-wrapper{
    width: 100%;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: inherit;
}
#search-wrapper * {
    vertical-align: middle;
    line-height: 1;
    color: inherit;
}
#search-wrapper *:focus {
    outline: none;
}
#search-text{
    width: 70%;
    display: inline-block;
    height: 50px;
    padding: 0px 15px;
    font-size: 1em;
    font-family: inherit;
    border: none;
    background-color: inherit;

}
#search-submit {
    width: 18%;
    height: 50px;
    display: inline-block;
    text-align: center;
    background: none;
    border: none;
    border-left: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1em;
}
#search-submit:hover {
    box-shadow: 0 0 5px #ccc inset;
}
#search-submit * {
    pointer-events: none;
    text-align: center;
}

/***********************************
*           Calculator             *
************************************/
#calculator-modal .calculator {
    height: 100%;
}
#calculator-modal .modal-container {
    width: 400px;
}
#calculator-modal .modal-body > div {
    height: 100%;
}
#calculator-modal .modal-body {
    padding: 0;
    overflow: hidden;
}
#calculator-modal .modal-body h3 {
    border: none;
    padding: 0;
}

#calculator-modal .calculator-wrapper {
  background-color: #d6d6c7;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px repeat(5, 1fr);
  grid-gap: 1px;
  margin: 0;
  height: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#calculator-modal .display-wrapper {
  position: relative;
  grid-column: 1/-1;
  margin-bottom: -1px;
  padding: 1.3rem;
  font-weight: 400;
  font-size: 3rem;
  background-color: #2b3a42;
  color: #fff;
  border: none;
  text-align: right;

}

#calculator-modal .evaluate {
  overflow: hidden;
  margin: 0;
  padding-right: 2px;
  color: #bdd3de;
  font-size: 2rem;
  letter-spacing: 1px;
}

#zero {
  grid-column: 1/3;
}

#equals {
  grid-row: 5/-1;
  grid-column: 4
}

#clear {
  grid-column: 1/3;
}

#calculator-modal button {
  border: none;
  font-size: 2.4rem;
  background-color: #FFFFFB;
  font-weight: 300;
    font-family : inherit;

}
#calculator-modal button:hover {
    cursor: pointer;
    background-color: #e5e5e1;
}

#calculator-modal button:active {
    background-color: #ccccc8;
}

#calculator-modal button:focus {
    outline: none;
}

#calculator-modal .clear {
  background-color: #bdd3de;

}
#calculator-modal .clear:hover {
    background-color: #a7bbc4;
}

#calculator-modal .clear:active {
    background-color: #91a2ab;
}

#calculator-modal button[class='operator'],
#calculator-modal button[class='equals'] {
  background-color: #FF5964;
  color: #fff;
}
#calculator-modal button[class='operator']:hover, button[class='equals']:hover {
    background-color: #e5505a;
}
#calculator-modal button[class='equals']:active, button[class='equals']:active {
    background-color: #cc4750;
}
/***********************************
*             Dropdown             *
************************************/
.brd {
    border: 1px solid #cccccc;
}
.settings-dropdown {
    position: relative;
    width: 300px;
    height: 42px;
    border-radius: 4px;
}
.settings-dropdown:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .33);
}

.select-button {
    position: relative;
    height: 16px;
    padding: 12px 14px;

    border-radius: 4px;
    cursor: pointer;
}

.options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#background-selected-value, #font-selected-value, #theme-selected-value  {
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
}

.option i {
    width: 16px;
    height: 16px;
}

.option, .label {
    font-size: 16px;
}

.chevrons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

.chevrons i {
    display: block;
    height: 50%;
    opacity: 0.3;
    font-size: 12px;
    text-align: right;
}
.options-view-button:checked + .select-button .chevrons i {
    opacity: 1;
}

.options {
    position: absolute;
    left: 0;
    width: 250px;
}

.options {
    position: relative;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    z-index: 5;
}

.options-view-button:checked ~ .options {
    border: 1px solid #cccccc;
}

.option {
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i {
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

.options-view-button:checked ~ .options .option i {
    display: block;
    padding: 12px 0;
}

.label {
    display: none;
    padding: 0;
    margin-left: 27px;
}

.options-view-button:checked ~ .options .label {
    display: block;
    padding: 12px 14px;
}

.s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i {
    opacity: 0;
}

.s-c:hover {
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i {
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

@keyframes moveup {
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

.label {
    transition: 0.3s ease all;
}

.option input[type="radio"]:checked ~ i {
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label {
    font-weight: bold;
}

.option input[type="radio"]:checked ~ .label:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.option:first-child input[type="radio"]:checked ~ .label:before {
    border-radius: 4px 4px 0 0;
}
.option:last-child input[type="radio"]:checked ~ .label:before {
    border-radius: 0 0 4px 4px;
}
.mobile-view .option:hover{
    color: inherit;
    background-color: inherit;
}
 .option:first-child:hover {
    border-radius: 4px 4px 0 0;
}

.option:hover  {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    background-color: #9ad3de;
    color: #fff;
}

 .option:last-child:hover {
    border-radius: 0 0 4px 4px;
}

.current-selection {
    margin-bottom: 20px;
    font-size: 18px;
}

.current-selection span {
    font-weight: bold;
}

/***********************************
*          Media Queries           *
************************************/
/*****Laptop/Desktop*****/
@media (min-width: 1025px) { }

/*****Tablet-portrait*****/
@media (min-width: 768px) and (max-width: 1024px) {
    .mobile-view #workspace {
        background-image: url("../assets/img/helixos-background-mobile.png");
    }
    #middle-top {
        width: 45%;
    }
    #left-top {
        width: 20%;
    }
    #right-top {
        width: 35%;
    }
}

/*****Tablet-landscape*****/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .mobile-view #workspace {
        background-image: url("../assets/img/helixos-background.png");
    }
    #loading-label {
        font-size: 2em;
    }
    #loading-cursor {
        height: 30px;
        width: 5px;
    }
}

/*****Low Res Tablet, Phone-landscape*****/
@media (min-width: 481px) and (max-width: 767px) {
    .mobile-view #workspace {
        background-image: url("../assets/img/helixos-background.png");
    }
    #middle-top {
        width: 65%;
    }
    #left-top {
        width: 25%;
    }
    #right-top {
        width: 10%;
    }
    #time-date {
        display: none;
    }
    #icon-expand {
        width: 100%;
    }
    .window-expand-shrink {
        display: none !important;
    }
    .modal-wrapper {
        top: 40px !important;
        left: 0 !important;
    }
    .modal-container {
        width: 100% !important;
        max-width: none !important;
        position: fixed;
    }
    #loading-label {
        font-size: 2em;
    }
    #loading-cursor {
        height: 30px;
        width: 5px;
    }
}

/*****Phone-portrait*****/
@media (min-width: 320px) and (max-width: 480px) {
    #middle-top {
        width: 50%;
    }
    #left-top {
        width: 35%;
    }
    #right-top {
        width: 15%;
    }
    #time-date {
        display: none;
    }
    #icon-expand {
        width: 100%;
    }
    .window-expand-shrink {
        display: none !important;
    }
    .modal-wrapper {
        top: 40px !important;
        left: 0 !important;
    }
    .modal-container {
        width: 100% !important;
        min-width: 0px !important;
        position: fixed;
        transition: none;
    }
    .modal-body {
        font-size: 14px;
    }
    .current-selection {
        font-size: 16px;
    }
    .settings-dropdown {
        width: 270px;
    }
    .options {
        width: 268px;
    }
    .settings-section > div, .modal-body p{
        margin-left: 10px;
    }
    #selected-background {
        display: block;
        margin-top: 10px;
    }
    .colour-search-picker {
        width: 15%;
    }
    .colour-search-label {
        width: 70%;
    }
    #loading-label {
        font-size: 2em;
    }
    #loading-cursor {
        height: 30px;
        width: 5px;
    }

}
