<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HelixOS</title>
  <meta name="description" content="WebOS">
  <meta name="author" content="Maja Repinc">
  <!-- main core stylesheet -->
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vue.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>

    <div id="wrapper">
        <div id="top-bar">
            <div id="left-top" class="top-bar-component">

                <div id="icon-about" class="left-top-component" title="About">
                    <i class="fas fa-info-circle" @click="showAboutWindow"></i>
                </div>

                <div id="icon-settings" class="left-top-component" title="Settings">
                    <i class="fas fa-cog" @click="showAboutWindow"></i>
                </div>

                <div id="icon-apps" class="left-top-component" title="Apps">
                    <i class="fas fa-th-large"></i>
                </div>

            </div>

            <div id="middle-top" class="top-bar-component"></div>

            <div id="right-top" class="top-bar-component" title="Date/Time">

                <div id="time-date" class="right-top-component"></div>

                <div id="icon-expand" class="right-top-component" title="Expand/Collapse">
                    <i class="fas fa-expand-arrows-alt"></i>
                </div>

            </div>
            <div style="clear:both"></div>
        </div>

        <div id="workspace">
            <!-- about-modal-component -->
            <div id="about-modal">
                <modal v-if="showModal" @close="showModal = false">
                  <div slot="header">
                      <div class="fas fa-info-circle modal-icon" style="display:inline-block;"></div><h3>About</h3>
                  </div>
                  <div slot="body">
                      <h2 style="text-align:center">Welcome to HelixOS</h2>
                      <p>This is a final year project which demonstrates a way to represent an operating system solely written using web languages such as HTML, CSS, and JavaScript.</p>
                      <p>The project also makes a use of <a href="https://vuejs.org" target="_blank">VueJS</a> which is a JavaScript framework</p>
                      <h3>Privacy</h3>
                      <p>The site currently doesn't collect any data.</p>
                      <h3>More Info</h3>
                      <p>The project is available on <a href="https://github.com/MajaRepinc/HelixOS" target="_blank">GitHub</a></p>
                  </div>
                </modal>
            </div>

            <!-- settings-modal-component -->
            <div id="settings-modal">
                <modal v-if="showModal" @close="showModal = false">
                    <div slot="header">
                        <div class="fas fa-cog modal-icon" style="display:inline-block;"></div><h3>Settings</h3>
                    </div>
                    <div slot="body">
                        <h3>Background</h3>
                        <h3>Colours</h3>
                        <h3>Font</h3>
                    </div>
                </modal>
            </div>
        </div>
    </div>

    <!-- load script -->
    <script src="js/script.js"></script>
    <script src="js/window-modal.js"></script>

</body>
</html>
