<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>helixOS</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="WebOS">
    <meta name="author" content="Maja Repinc">
    <!-- main core stylesheet -->
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>
    <div id="wrapper">
        <div id="top-bar">
            <div id="left-top" class="top-bar-component">

                <div id="desktop-menu">
                    <div id="icon-about" class="left-top-component hover-element" title="About" @click="showAboutWindow">
                        <i class="fas fa-info-circle"></i>
                    </div>

                    <div id="icon-settings" class="left-top-component hover-element" title="Settings" @click="showSettingsWindow">
                        <i class="fas fa-cog"></i>
                    </div>

                    <div id="icon-apps" class="left-top-component hover-element" title="Apps">
                        <i class="fas fa-th-large"></i>
                    </div>

                    <div id="apps-dropdown">
                        <div id="icon-search" title="Search" class="left-top-component hover-element" @click="showSearchWindow">
                            <i class="fas fa-search"></i> <span class="apps-label">Search</span>
                        </div>
                        <div id="icon-calculator" title="Calculator" class="left-top-component hover-element" @click="showCalculatorWindow">
                            <i class="fas fa-calculator"></i> <span class="apps-label">Calculator</span>
                        </div>
                    </div>
                </div>
                <div id="mobile-dropdown">
                    <div id="mobile-dropdown-icon" class="left-top-component hover-element"><i class="fas fa-ellipsis-v"></i></div>
                    <div id="mobile-dropdown-items">
                        <div id="dropdown-icon-about" class="left-top-component hover-element" title="About" @click="showAboutWindow">
                            <i class="fas fa-info-circle"></i> About
                        </div>

                        <div id="dropdown-icon-settings" class="left-top-component hover-element" title="Settings" @click="showSettingsWindow">
                            <i class="fas fa-cog"></i> Settings
                        </div>

                        <div id="dropdown-icon-apps" class="left-top-component hover-element" title="Apps">
                            <i class="fas fa-th-large"></i> Apps <i class="fas fa-chevron-right"></i>
                        </div>
                        <div id="dropdown-apps-dropdown">
                            <div id="dropdown-icon-search" title="Search" class="left-top-component hover-element" @click="showSearchWindow">
                                <i class="fas fa-search"></i> <span class="apps-label">Search</span>
                            </div>
                            <div id="dropdown-icon-calculator" title="Calculator" class="left-top-component hover-element" @click="showCalculatorWindow">
                                <i class="fas fa-calculator"></i> <span class="apps-label">Calculator</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="middle-top" class="top-bar-component">
                <bar-component is="bar-component" v-for="(icon, index) in icons" v-bind:key="icon.name" v-bind:index="index" v-bind:css="icon.css" v-bind:elementid="icon.elementid" v-on:remove="removeIcon()"></bar-component>

                <div style="padding:10px 0px; clear:both;"></div>
            </div>

            <div id="right-top" class="top-bar-component" title="Date/Time">

                <div id="time-date" class="right-top-component hover-element"></div>

                <div id="icon-expand" class="right-top-component hover-element" title="Expand/Collapse">
                    <i class="fas fa-expand-arrows-alt"></i>
                </div>

            </div>
            <div style="clear:both"></div>
        </div>

        <div id="workspace">

            <!-- about-modal-component -->
            <div id="about-modal">
                <modal v-if="showModal" v-on:close="function() {showModal = false; removeAboutIcon();}">
                  <div slot="header">
                      <div class="fas fa-info-circle modal-icon" style="display:inline-block;"></div><h3>About</h3>
                  </div>
                  <div slot="body">
                      <h2 style="text-align:center">Welcome to helixOS</h2>
                      <p>This is a final year project which demonstrates a way to represent an operating system solely written using web languages such as HTML, CSS, and JavaScript.</p>
                      <p>The project also makes a use of <a href="https://vuejs.org" target="_blank">VueJS</a> which is a JavaScript framework</p>
                      <p>Icons provided by <a href="https://fontawesome.com" target="_blank">Font Awesome</a></p>
                      <h3>Privacy</h3>
                      <p>The site currently doesn't collect any data.</p>
                      <h3>More Info</h3>
                      <p>The project is available on <a href="https://github.com/MajaRepinc/HelixOS" target="_blank">GitHub</a></p>
                  </div>
                </modal>
            </div>

            <!-- settings-modal-component -->
            <div id="settings-modal">
                <modal v-if="showModal" v-on:close="function() {showModal = false; removeSettingsIcon();}">
                    <div slot="header">
                        <div class="fas fa-cog modal-icon" style="display:inline-block;"></div><h3>Settings</h3>
                    </div>
                    <div slot="body">

                        <div id="settings-themes" class="settings-section">
                            <h3 style="margin-top:0;"><i class="fas fa-swatchbook"></i> Themes</h3>
                            <div class="current-selection">Current theme: <span id="selected-theme"></span></div>
                            <div class="select-dropdown">
                                <form id="toggle-theme" class="settings-dropdown" @change="toggleTheme()">
                                    <div class="select-box">
                                        <input type="checkbox" class="options-view-button">
                                        <div class="select-button brd">
                                            <div id="theme-selected-value">
                                                <span>Change theme</span>
                                            </div>
                                            <div class="chevrons">
                                                <i class="fas fa-chevron-up"></i>
                                                <i class="fas fa-chevron-down"></i>
                                            </div>
                                        </div>
                                        <div class="options">
                                            <div class="option" @click="function() { toggleDropdown('#toggle-theme'); disableSelectedBackground(); }">
                                                <input class="s-c bottom" type="radio" name="theme" value="Default">
                                                <i class="fas fa-swatchbook"></i>
                                                <span class="label">Default</span>
                                            </div>
                                            <div class="option" @click="function() { toggleDropdown('#toggle-theme'); disableSelectedBackground(); }">
                                                <input class="s-c bottom" type="radio" name="theme" value="Dark">
                                                <i class="fas fa-swatchbook"></i>
                                                <span class="label">Dark</span>
                                            </div>
                                            <div class="option" @click="function() { toggleDropdown('#toggle-theme'); disableSelectedBackground(); }">
                                                <input class="s-c bottom" type="radio" name="theme" value="Light">
                                                <i class="fas fa-swatchbook"></i>
                                                <span class="label">Light</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="settings-background" class="settings-section">
                            <h3><i class="fas fa-brush"></i> Background</h3>
                            <div class="current-selection">Current background: <div id="selected-background"></div></div>
                            <div class="select-dropdown">
                                <form id="toggle-background" class="settings-dropdown" @change="toggleBackgroundStyle()">
                                    <div class="select-box">
                                        <input type="checkbox" class="options-view-button">
                                        <div class="select-button brd">
                                            <div id="background-selected-value">
                                                <span>Change background</span>
                                            </div>
                                            <div class="chevrons">
                                                <i class="fas fa-chevron-up"></i>
                                                <i class="fas fa-chevron-down"></i>
                                            </div>
                                        </div>
                                        <div class="options">
                                            <div class="option" @click="toggleDropdown('#toggle-background')">
                                                <input class="s-c bottom" type="radio" name="background" value="picture">
                                                <i class="fas fa-image"></i>
                                                <span class="label">Picture</span>
                                            </div>
                                            <div class="option"  @click="toggleDropdown('#toggle-background')">
                                                <input class="s-c bottom" type="radio" name="background" value="solid">
                                                <i class="fas fa-fill"></i>
                                                <span class="label">Solid Colour</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <template v-if="showPictures">
                                <div id="picture-search" class="background-change">
                                    <input type="text" name="searchPicture" placeholder="Insert link..." id="change-picture">  <input type="submit" value="OK" id="submit-picture" @click="changeBackgroundPicture()">
                                    <div id="error-picture" style="display:none">Link does not contain image</div>
                                </div>
                            </template>
                            <template v-else-if="showColours">
                                <div id="colour-search" class="background-change">
                                    <div class="colour-search-label">Choose background colour: </div>
                                    <div class="colour-search-picker">
                                        <input type="color" name="topbar-font-color" @change="changeBackgroundColour()">
                                    </div>
                                </div>
                            </template>
                        </div>

                        <div id="settings-fonts" class="settings-section">
                            <h3><i class="fas fa-i-cursor"></i> Fonts</h3>
                            <div class="current-selection">Current font: <span id="selected-font"></span></div>
                            <div class="select-dropdown">
                                <form id="toggle-font" class="settings-dropdown" @change="toggleFont()">
                                    <div class="select-box">
                                        <input type="checkbox" class="options-view-button">
                                        <div class="select-button brd">
                                            <div id="font-selected-value">
                                                <span>Change font</span>
                                            </div>
                                            <div class="chevrons">
                                                <i class="fas fa-chevron-up"></i>
                                                <i class="fas fa-chevron-down"></i>
                                            </div>
                                        </div>
                                        <div class="options">
                                            <div class="option"  @click="toggleDropdown('#toggle-font')">
                                                <input class="s-c bottom" type="radio" name="background" value="Arial">
                                                <i class="fas fa-i-cursor"></i>
                                                <span class="label">Arial</span>
                                            </div>
                                            <div class="option" @click="toggleDropdown('#toggle-font')">
                                                <input class="s-c bottom" type="radio" name="background" value="Courier New">
                                                <i class="fas fa-i-cursor"></i>
                                                <span class="label">Courier New</span>
                                            </div>
                                            <div class="option" @click="toggleDropdown('#toggle-font')">
                                                <input class="s-c bottom" type="radio" name="background" value="Georgia">
                                                <i class="fas fa-i-cursor"></i>
                                                <span class="label">Georgia</span>
                                            </div>
                                            <div class="option" @click="toggleDropdown('#toggle-font')">
                                                <input class="s-c bottom" type="radio" name="background" value="Helvetica">
                                                <i class="fas fa-i-cursor"></i>
                                                <span class="label">Helvetica</span>
                                            </div>
                                            <div class="option" @click="toggleDropdown('#toggle-font')">
                                                <input class="s-c bottom" type="radio" name="background" value="Times New Roman">
                                                <i class="fas fa-i-cursor"></i>
                                                <span class="label">Times New Roman</span>
                                            </div>
                                            <div class="option" @click="toggleDropdown('#toggle-font')">
                                                <input class="s-c bottom" type="radio" name="background" value="Verdana">
                                                <i class="fas fa-i-cursor"></i>
                                                <span class="label">Verdana</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="settings-colour-palette" class="settings-section">
                            <h3><i class="fas fa-palette"></i> Colour Palette</h3>
                            <div id="colour-topbar" class="colour-palette-section">
                                <div class="colour-palette-label">Top bar</div>
                                <div class="colour-palette-picker">
                                    <input type="color" name="topbar-color" @change="changeColourTopBar()">
                                </div>
                            </div>
                            <div id="colour-topbar-font" class="colour-palette-section">
                                <div class="colour-palette-label">Top bar font</div>
                                <div class="colour-palette-picker">
                                    <input type="color" name="topbar-font-color" @change="changeColourTopBarFont()">
                                </div>
                            </div>
                            <div id="colour-innerwindow" class="colour-palette-section">
                                <div class="colour-palette-label">Inner window</div>
                                <div class="colour-palette-picker">
                                    <input type="color" name="innerwindow-color"  @change="changeColourInnerWindow">
                                </div>
                            </div>
                            <div id="colour-innerwindow-font" class="colour-palette-section">
                                <div class="colour-palette-label">Inner window font</div>
                                <div class="colour-palette-picker">
                                    <input type="color" name="innerwindow-font-color" @change="changeColourInnerWindowFont">
                                </div>
                            </div>
                        </div>
                    </div>
                </modal>
            </div>

            <!-- search-modal-component -->
            <div id="search-modal">
                <modal v-if="showModal" v-on:close="function() {showModal = false; removeSearchIcon();}">
                  <div slot="header">
                      <div class="fas fa-search modal-icon" style="display:inline-block;"></div><h3>Search</h3>
                  </div>
                  <div slot="body">
                      <div id="search-wrapper">
                            <input id="search-text" type="text" placeholder="Google Search..." name="search" v-on:keyup="keymonitor">
                            <button id="search-submit" class="hover-element" type="submit" @click="searchContent"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
                </modal>
            </div>


            <!-- calculator-modal-component -->
            <div id="calculator-modal">
                <modal v-if="showModal" v-on:close="function() {showModal = false; removeCalculatorIcon();}">
                  <div slot="header">
                      <div class="fas fa-calculator modal-icon" style="display:inline-block;"></div><h3>Calculator</h3>
                  </div>
                  <div slot="body">
                      <div class="calculator">
                          <div class="calculator-wrapper">
                              <div class="display-wrapper">
                                  <h3 class="evaluate">{{ state.toEval }}</h3>
                                  <div id="display">{{ state.current }}</div>
                              </div>
                              <button type="button" id="clear" class="clear" value="AC" @click="handleClick">AC</button>
                              <button type="button" id="divide" class="operator" value="÷" @click="handleClick">÷</button>
                              <button type="button" id="multiply" class="operator" value="x" @click="handleClick">x</button>
                              <button type="button" id="seven" class="num" value="7" @click="handleClick">7</button>
                              <button type="button" id="eight" class="num" value="8" @click="handleClick">8</button>
                              <button type="button" id="nine" class="num" value="9" @click="handleClick">9</button>
                              <button type="button" id="add" class="operator" value="+" @click="handleClick">+</button>
                              <button type="button" id="four" class="num" value="4" @click="handleClick">4</button>
                              <button type="button" id="five" class="num" value="5" @click="handleClick">5</button>
                              <button type="button" id="six" class="num" value="6" @click="handleClick">6</button>
                              <button type="button" id="subtract" class="operator" value="-" @click="handleClick">-</button>
                              <button type="button" id="one" class="num" value="1" @click="handleClick">1</button>
                              <button type="button" id="two" class="num" value="2" @click="handleClick">2</button>
                              <button type="button" id="three" class="num" value="3" @click="handleClick">3</button>
                              <button type="button" id="equals" class="equals" value="=" @click="handleClick">=</button>
                              <button type="button" id="zero" class="num" value="0" @click="handleClick">0</button>
                              <button type="button" id="decimal" class="decimal" value="." @click="handleClick">.</button>
                          </div>
                      </div>
                  </div>
                </modal>
            </div>
        </div>
    </div>
    <div id="context-menu">
        <div class="contex-menu-element hover-element" id="context-settings" @click="showSettingsWindow">
            <i class="fas fa-cog"></i>
            <span class="context-menu-label">Open settings</span>
        </div>
        <div class="contex-menu-element hover-element" id="context-programs">
            <i class="fas fa-th-large"></i>
            <span class="context-menu-label">Open program <i class="fas fa-chevron-right"></i></span>

        </div>
        <div id="contex-submenu-programs">
            <div class="contex-menu-element hover-element" id="context-search" @click="showSearchWindow">
                <i class="fas fa-search"></i><span class="context-menu-label">Search</span>
            </div>
            <div class="contex-menu-element hover-element" id="context-calculator" @click="showCalculatorWindow">
                <i class="fas fa-calculator"></i><span class="context-menu-label">Calculator</span>
            </div>
        </div>
    </div>
    <div id="loading">
        <div id="loading-label"><div id="loading-text">loading...</div></div>
        <div id="loading-image">
            <img src="assets/img/helixos-loading-logo.png">
            <div id="loading-image-text">Maja Repinc, 2019</div>
        </div>
    </div>

    <!-- load script -->
    <script src="js/script.js"></script>
    <script src="js/window-modal.js"></script>
    <script src="js/window-about.js"></script>
    <script src="js/window-calculator.js"></script>
    <script src="js/window-search.js"></script>
    <script src="js/window-settings.js"></script>
    <script src="js/top-bar-components.js"></script>

</body>
</html>
